.buy{
    position: relative;
    top: 3px;
    width: 190px;
    height: 80px;
    display: flex;
    align-items: center;
    //justify-content: space-between;
    background-image: url('../../../public/img/bt-left.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 60px;
    img{
        margin-left: 10px;
        width: 45px;
        position: relative;
        top: 6px;
    }
    span{
        margin-right: 48px;
        position: relative;
        top: 6px;
        color: #BD2078;
        font-size: 24px;
    }
    .buyEssentials{
        position: absolute;
        top: 67px;
        width: 90px;
        height: 38px;
        right: -10px;
        transform: translate(-50%, 0);
        //');
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
          cursor: url("../../../public/img/сursorBlue.svg") 4 12, auto ;
        transition: all .3s ease;
        &:hover img{
            transform: scale(1.15);
        }
        img{
            width: 90px;
            height: 38px;
            transition: all .3s ease;
        }
    }
}


@media (max-width: 768px) {
    .buy{
        background-size: contain;
        img{
            margin-left: 25px;
            width: 40px;
            top: 4px;
        }
    }
  }