.planetBox{
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    cursor: url("../../../public/img/сursorBlue.svg") 4 12, auto ;
    position: relative;
    &:hover &_info{
            opacity: 1;
            transform: scaleX(1);
            transform: scaleY(1);
    }
    video{
        width: 100%;
    }
    .loading_absolute{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 100;
    }
    .ownableVideo{
        width: 306px;
        position: relative;
        z-index: 1;
    }
    .ownable{
        margin-top: 30px;
    }
    .boughtInfo{
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        width: 305px;
       //height: 550px;
        text-align: center;
        transform: translate(-50%, 0);
        
        &:hover img{
            width: 100%;
            opacity: 1;
            transform: scaleX(1);
            transform: scaleY(1);
        }
        &:hover .levelValue,   &:hover .levelPrice, &:hover .essEarn{
            opacity: 1;
            transform: scaleX(1);
            transform: scaleY(1);
        }
        .essEarn{
            position: absolute;
            top: 60%;
            font-size: 50px;
            width: 100%;
            padding-left: 10px;
            opacity: 0;
            transform: scaleX(0);
            transform: scaleY(0);
            transition: all 1s ease;
        }
        .levelPrice{
            width: auto;
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            color: #BD2078;
            font-size: 40px;
            font-weight: 600;
            margin: 0;
            padding-bottom: 7px;
            padding-left: 15px;
            opacity: 0;
            transform: scaleX(0);
            transform: scaleY(0);
            transition: all 1s ease;
            &:hover{
                opacity: 0.7;
            }
        }
        .levelValue{
            position: absolute;
            top: 73px;
            color: #4BFFDF;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            z-index: 2;
            font-size: 36px;
            font-weight: 700;
            padding-left: 4px;
            transform: scaleX(0);
            transform: scaleY(0);
            transition: all 1s ease;
        }
        img{
            width: 100%;
            opacity: 0;
            transform: scaleX(0);
            transform: scaleY(0);
            transition: all .6s ease;
            cursor: url("../../../public/img/сursorBlue.svg") 4 12, auto ;
        }
        .levelUp{
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 380px;
            cursor: url("../../../public/img/сursorBlue.svg") 4 12, auto ;
            transform: translate(-50%, 0)!important;
            &:hover{
                opacity: .7;
            }
        }
    }
    &_info{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 172px;
        //background-image: url('../../../public/img/p3.png');
        background-size: cover ;
        background-position: center;
        position: absolute;
        top: 74%;
        left: 0;
        opacity: 0;
        transform: scaleX(0);
        transform: scaleY(0);
        transition: all .6s ease;
        z-index: 100;
        &Text{
            position: relative;
            display: flex;
            align-items: center;
            top: 40px;
            font-size: 32px;
            img{
                margin-right: 6px;
            }
        }
    }
}
@media (max-width: 1200px){
    .planetBox{
        top: 0!important;
        margin-left: 0!important;
        margin-top: 30px!important;
    }
}
@media (max-width: 992px){
 
    .planetBox{
        width: 85%;
        top: 0!important;
        margin-left: 0!important;
        &_info{
            display: none;
        }
        .ownableVideo{
            width: 100%;
        }
        .boughtInfo{
            height: auto;
            &:hover img{
                width: 100%;
            }
            .essEarn{top: 60%;}
            .levelPrice{
                bottom: -8px;
            }
            .levelValue{
                top: 77px;
                img{
                    width: 100%;
                }
            }
        }
        
    }
}