.loading{
   // max-width: 270px;
    width: 270px;
    padding: 45px;
   

    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        background-image: url('../../../public/img/LoadFrame.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center ;
        top: 0;
        left: 0;
    }
    &Video{
        width: 100%;
        margin: 0 auto;
    }
}